*:focus {
  outline: solid 1px transparent;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
p {
  line-height: 1.3rem;
}
ul {
  margin: 0;
}
input {
  border: transparent;
  background-color: transparent;
}
a {
  width: fit-content;
  color: white;
}
textarea {
  resize: none;
  border: none;
  background-color: transparent;
}
img {
  user-select: none;
}
address {
  font-style: normal;
}
main,
footer {
  width: -webkit-fill-available;
  width: -moz-available;
  overflow-x: hidden;
}
@media (min-width: 1024px) {
  p {
    line-height: 1.6rem;
  }
}
@media (min-width: 1800px) {
  main {
    width: auto;
    overflow-x: hidden;
  }
}
